/*Scrollbar on Webkit & IE*/
::-webkit-scrollbar {
   width: 8px;
   height: 8px;
   background-color: rgba(0,0,0,0.00);
   border-radius: 0px;
}
::-webkit-scrollbar-track {
   border-radius: 0px;
}
::-webkit-scrollbar-thumb {
   border-radius: 0px;
   background-color: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
   background-color: rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb:active {
   background-color: rgba(0,0,0,0.4);
}
HTML {
	scrollbar-base-color: #D9D9D9;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #D9D9D9;
	scrollbar-shadow-color: #D9D9D9;
}

/*Cursor Light Effect*/
.cursorlight {
	width: 0px;
	height: 0px;
	border-radius: 1px;
	box-shadow: 0px 0px 75px 15px white;
	background: white;
	position: fixed;
	z-index: 9999;
	pointer-events: none;
	opacity: 0.5;
}

/*Selection text*/
::selection {
	color: #00CDCD;
	background: #E9F2FF;
	animation: selectColor 1s;
}

/*Hyper link*/
a {
	text-decoration : none;
	transition: opacity 0.15s ease-in-out;
}
a:hover {
	opacity: 0.7;
}
a:active {
	opacity: 0.5;
}

/*Image*/
img {
	transition: opacity 0.2s ease-in-out;
	border: 0;
}

/*Web font using*/
@font-face {
	font-family: Ubuntu;
	font-weight: normal;
	src: url('../fonts/Ubuntu/Ubuntu.woff');
}
@font-face {
	font-family: Ubuntu;
	font-weight: lighter;
	src: url('../fonts/Ubuntu/Ubuntu Light.woff');
}
@font-face {
	font-family: Ubuntu;
	font-weight: bold;
	src: url('../fonts/Ubuntu/Ubuntu Bold.woff');
}
@font-face {
	font-family: "Montserrat Light";
	src: url('../fonts/Montserrat Light Min.woff')
}
/*Body*/
body {
	font-family: "Ubuntu", "Microsoft Yahei";
	margin: 0;
	margin-top: 15px;
	background-color: #FCFCFC;
	transition: all 0.4s ease;
}

/*Navigate bar (Header)*/
header {
	font-family: "Montserrat Light";
	width: 100%;
	height: 39px;
	position: fixed;
	z-index: 1;
	left: 0px;
	padding-left: 6%;
	padding-top: 26px;
	background-color: rgba(255,255,255,0.8);
	user-select: none;
	top: 0px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	transition: all 0.3s ease;
}
header:hover {
	box-shadow: 0px 0px 32.5px rgba(0,0,0,0.15);
}
header:active {
	box-shadow: 0px 0px 35px rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.7);
}
header .title {
	font-family: "Montserrat Light";
	color: #00CDCD;
	font-size: 32px;
	line-height: 15px;
	animation: titleMove 1s;
}
@keyframes titleMove
{
	from {
		opacity: 0;
		margin-left: -20px;
	}
	to {
		opacity: 1;
		margin-left: 0px;
	}
}
header .navtag {
	font-family: "Montserrat Light";
	display: inline-block;
	float: right;
	font-weight: lighter;
	color: #AAA;
	font-size: 21px;
	margin-top: -26px;
	height: 65px;
	padding: 0px 17.5px;
	line-height: 69px;
	transition: ease all 0.2s;
	border-bottom: 0px solid #DDD;
	animation: navtagMove 1s;
}
@keyframes navtagMove
{
	from {
		opacity: 0;
		margin-right: -10px;
	}
	to {
		opacity: 1;
		margin-right: 0px;
	}
}
header .navtag:hover {
	color: rgba(170,170,170,1.00);
	opacity: 1;
	background-color: rgba(0,0,0,0.03);
	border-bottom: 3px solid rgba(170,170,170,0.5);
	height: 62px;
}
header .navtag:active {
	color: #AAA;
	opacity: 1;
	background-color: rgba(0,0,0,0.08);
}
header .nownavtag {
	font-family: "Montserrat Light";
	display: inline-block;
	float: right;
	color: #00CDCD;
	font-size: 21px;
	margin-top: -26px;
	height: 62px;
	padding: 0px 17.5px;
	line-height: 69px;
	transition: ease all 0.2s;
	border-bottom: 3px solid #00CDCD;
	animation: navtagMove 1s;
}
header .nownavtag:hover {
	color: #00CDCD;
	opacity: 1;
	background-color: rgba(0,0,0,0.03);
	height: 62px;
}
header .nownavtag:active {
	color: #00CDCD;
	opacity: 1;
	background-color: rgba(0,0,0,0.08);
}
header .navplaceholder {
	width: 12%;
	float: right;
	cursor: default;
	visibility: hidden;
}

/*Tipbar (Show messeages)*/
.tipbar {
	max-width: 800px;
	background-color: #FFF6C8;
	color: orange;
	padding: 1px 15px;
	margin: 75px auto -75px auto;
	border-radius: 30px;
	cursor: default;
	text-align: center;
	user-select: none;
}
.tipbar p {
	display: inline-block;
}
.tipbar a {
	display: inline-block;
	border-radius: 50px;
	border: 1px solid orange;
	padding: 8px 15px;
	background-color: rgba(0,0,0,0);
	margin: 2px;
	transition: all 0.2s ease;
	outline: 0;
	cursor: pointer;
	color: orange;
	font-size: 14px;
}
.tipbar a:hover {
	background-color: orange;
	color: #FFF6C8;
	opacity: 1;
}
.tipbar a:active {
	background-color: #FB9400;
	opacity: 1;
}
.tipbar img {
	vertical-align: text-top;
	height: 22px;
	width: auto;
	background-color: rgba(0,0,0,0);
	opacity: 0.75;
	margin-right: 4px;
}

/*Containers*/
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	animation: containerMove 1s;
}
@keyframes containerMove
{
	from {
		opacity: 0;
		margin-top: -20px;
	}
	to {
		opacity: 1;
		margin-top: 0px;
	}
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	padding-bottom: 35px;
	margin-top: -5px;
	margin-bottom: 0px;
}

/*Thumnail (Introduce an item)*/
.thumbnail {
	height: 350px;
	width: 23%;
	text-align: center;
	float: left;
	margin-top: 35px;
	background-color: #FDFDFD;
	padding-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 16px;
	padding-top: 20px;
	border-bottom: 3px solid #DDD;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	transition: all 0.3s ease;
}
.thumbnail:hover {
	box-shadow: 0px 10px 32.5px rgba(0,0,0,0.2);
	background-color: #FEFEFE;
	border-bottom: 3px solid #00CDCD;
	border-radius: 13px;
}
.thumbnail:active {
	box-shadow: 0px 10px 35px rgba(0,0,0,0.3);
	background-color: #FFF;
	border-radius: 10px;
}
.thumbnail .text_column {
	width: 90%;
	text-align: left;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.thumbnail h4 {
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #00CDCD;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
.thumbnail h2 {
	font-weight: 400;
	margin-top: 49px;
	margin-bottom: 7px;
	color: #00CDCD;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
.thumbnail p {
	margin: 0;
	color: #B3B3B3;
	text-align: left;
	padding-left: 20px;
}
.thumbnail img {
	width: 100%;
	height: auto;
	max-width: 300px;
	max-height: 200px;
	opacity: 0.8;
}
.thumbnail .tag {
	color: #909090;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 15px;
	font-family: "微软雅黑";
}
.thumbnail .abouttp {
	color: #A3A3A3;
	padding-bottom: 45px;
	padding-top: 4px;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
}

/*Copyright (Show your information)*/
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #C3C3C3;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}

/*Self-adaptation*/
/*Mobile phone, 1 column*/
@media (max-width: 320px) {
header .navtag {
	padding-left: 0px;
	padding-right: 0px;
	width: 28%;
	text-align: center;
}
header .nownavtag {
	padding-left: 0px;
	padding-right: 0px;
	width: 28%;
	text-align: center;
}
header .title {
	display: none;
	width: 0px;
	margin: 0px;
	padding: 0px;
	height: 0px;
}
.aboutTable {
	width: 100%;
}
.profileTable {
	display: none;
	width: 0px;
	margin: 0px;
	padding: 0px;
	height: 0px;
}
.thumbnail {
	width: 100%;
}
.thumbnail .text_column {
	width: 100%;
	text-align: justify;
	padding: 0;
	padding-left: 20px;
}
}
/*1 column*/
@media (min-width: 321px) and (max-width: 687px) {
header .navtag {
	padding-left: 0px;
	padding-right: 0px;
	width: 28%;
	text-align: center;
}
header .nownavtag {
	padding-left: 0px;
	padding-right: 0px;
	width: 28%;
	text-align: center;
}
header .title {
	display: none;
	width: 0px;
	margin: 0px;
	padding: 0px;
	height: 0px;
}
.aboutTable {
	width: 340px;
}
.profileTable {
	display: none;
	width: 0px;
	margin: 0px;
	padding: 0px;
	height: 0px;
}
.thumbnail {
	width: 100%;
	max-width: 400px;
}
.thumbnail .text_column {
	text-align: left;
	padding: 0;
	padding-left: 20px;
	padding-right: 20px;
	width: 90%;
}
}
/*2 columns*/
@media (min-width: 688px) and (max-width: 891px) {
.thumbnail {
	width: 48%;
}
.thumbnail .text_column {
	width: 90%;
	margin: 0;
	padding: 20px;
}
}
/*3 columns*/
@media (min-width: 892px) and (max-width: 1096px) {
.thumbnail {
	width: 31%;
}
.thumbnail .text_column {
	width: 90%;
	margin: 0;
	padding: 20px;
}
}
/*Default 4 columns*/