/*Scrollbar on Webkit & IE*/
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: rgba(0,0,0,0.00);
	border-radius: 50px;
}
::-webkit-scrollbar-track {
	border-radius: 50px;
}
::-webkit-scrollbar-thumb {
	border-radius: 50px;
	background-color: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb:active {
	background-color: rgba(0,0,0,0.4);
}
HTML {
	scrollbar-base-color: #D9D9D9;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #D9D9D9;
	scrollbar-shadow-color: #D9D9D9;
}

/*Selection text*/
::selection {
    background:rgba(0, 131, 238, 0.15); 
    color:rgb(0, 131, 238);
}

/*Hyper link*/
a {
	text-decoration : none;
	transition: opacity 0.2s linear;
}
a:hover {
	opacity: 0.7;
}
a:active {
	opacity: 0.5;
}

/*Image*/
img {
	transition: all 0.2s linear;
	border: 0;
}

/*Web font using*/
@font-face {
	font-family: Ubuntu;
	font-weight: normal;
	src: local('Ubuntu'), url('../fonts/Ubuntu/Ubuntu.woff');
}
@font-face {
	font-family: Ubuntu;
	font-weight: bold;
	src: local('Ubuntu'), url('../fonts/Ubuntu/Ubuntu Bold.woff');
}
@font-face {
	font-family: "Montserrat Light";
	src: url('../fonts/Montserrat Light Min.woff');
}
@font-face {
	font-family: "Segoe MDL2 Assets";
	src: local('Segoe MDL2 Assets'), url('../fonts/segmdl2.ttf');
}
/*Body*/
body {
	font-family: "Ubuntu", "Microsoft Yahei";
	margin: 0;
	margin-top: 15px;
	background-color: #FBFBFB;
	background-image: url('../images/noise.png');
	transition: all 0.4s ease;
}

/*Navigate bar (Header)*/
header {
	font-family: "Montserrat Light";
	width: 100%;
	height: 39px;
	position: fixed;
	z-index: 1;
	left: 0px;
	padding-left: 6%;
	padding-top: 26px;
	background-color: rgba(255,255,255,0.8);
	background-color: white;
	user-select: none;
	top: 0px;
	/*box-shadow: 0px 0px 27.5px rgba(0,0,0,0.15);*/
	box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
	transition: all 0.3s ease;
	overflow: hidden;
}
header:hover {
	box-shadow: 0px 0px 37.5px rgba(0,0,0,0.2);
}
header .title {
	font-family: "Montserrat Light";
	color: #0083ee;
	font-size: 26px;
	line-height: 15px;
	/*animation: titleMove 1s;*/
	transition: all 0.5s ease;
}
/*header .title:hover {
	opacity: 1;
	text-shadow: 2px 2px 5px rgba(0,205,205,0.2);
}
header .title:active {
	opacity: 1;
	text-shadow: 2px 2px 5px rgba(0,205,205,0.2);
}*/
/*@keyframes titleMove
{
	from {
		opacity: 0;
		margin-left: -20px;
	}
	to {
		opacity: 1;
		margin-left: 0px;
	}
}*/
.mainmenucover {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.mainmenu {
	position: fixed;
	top: 65px;
	right: 24px;
	z-index: 3;
	background-color: white;
	height: 0px;
	width: 60px;
	opacity: 0;
	border-radius: 12px;
	border-top-right-radius: 0px;
	transition: 0.4s all ease;
	overflow: hidden;
}
.mainmenu .menuitem {
	text-align: center;
	width: 100%;
	display: block;
	height: 48px;
	line-height: 48px;
	color: #666;
	font-size: 18px;
	transition: ease all 0.2s;
}
.mainmenu .menuitem:hover {
	opacity: 1;
	background-color: rgba(0,0,0,0.03);
}
.mainmenu .menuitem:active {
	opacity: 1;
	background-color: rgba(0,0,0,0.08);
}
header .navtag {
	display: inline-block;
	float: right;
	color: #666;
	font-size: 18px;
	margin-top: -26px;
	height: 65px;
	padding: 0px 15px;
	line-height: 69px;
	transition: ease all 0.2s;
	/*animation: navtagMove 1s;*/
}
/*@keyframes navtagMove
{
	from {
		opacity: 0;
		margin-right: -10px;
	}
	to {
		opacity: 1;
		margin-right: 0px;
	}
}*/
header .navtag:hover {
	opacity: 1;
	background-color: rgba(0,0,0,0.03);
	height: 65px;
}
header .navtag:active {
	opacity: 1;
	background-color: rgba(0,0,0,0.08);
}
header .menuBtn {
	font-family: "Segoe MDL2 Assets";
	display: none;
	float: right;
	color: #AAA;
	font-size: 26px;
	margin-top: -26px;
	height: 65px;
	padding: 0px 17.5px;
	line-height: 69px;
	transition: ease all 0.2s;
	border-bottom: 0px solid #DDD;
	animation: navtagMove 1s;
}
header .menuBtn:hover {
	color: rgba(170,170,170,1.00);
	opacity: 1;
	background-color: rgba(0,0,0,0.03);
}
header .menuBtn:active {
	color: #AAA;
	opacity: 1;
	background-color: rgba(0,0,0,0.08);
}
header .nownavtag {
	display: inline-block;
	float: right;
	color: black;
	font-size: 18px;
	margin-top: -26px;
	height: 65px;
	padding: 0px 15px;
	line-height: 69px;
	transition: ease all 0.2s;
	/*border-bottom: 3px solid #0083ee;*/
	/*animation: navtagMove 1s;*/
}
header .nownavtag:hover {
	opacity: 1;
	background-color: rgba(0, 131, 238, 0.04);
	color: #0083ee;
}
header .nownavtag:active {
	opacity: 1;
	background-color: rgba(0, 131, 238, 0.1);
	color: #0083ee;
}
header .nownavtag .bottomLine {
	width: 32px;
	height: 3px;
	margin-top: -12px;
	margin-left: auto;
	margin-right: auto;
	background-color: #0083ee;
}
header .navplaceholder {
	width: 12%;
	float: right;
	cursor: default;
	visibility: hidden;
}

/*Tipbar (Show messeages)*/
.tipbar {
	max-width: 800px;
	background-color: #FFF6C8;
	color: orange;
	padding: 1px 15px;
	margin: 75px auto -75px auto;
	border-radius: 50px;
	cursor: default;
	text-align: center;
	user-select: none;
	box-shadow: 0px 4px 18px rgba(255,200,50,0.4);
}
.tipbar p {
	display: inline-block;
}
.tipbar a {
	display: inline-block;
	border-radius: 50px;
	border: 1px solid orange;
	padding: 8px 15px;
	background-color: rgba(0,0,0,0);
	margin: 2px;
	transition: all 0.2s ease;
	outline: 0;
	cursor: pointer;
	color: orange;
	font-size: 14px;
}
.tipbar a:hover {
	background-color: orange;
	color: #FFF6C8;
	opacity: 1;
}
.tipbar a:active {
	background-color: #FB9400;
	opacity: 1;
}
.tipbar img {
	vertical-align: text-top;
	height: 22px;
	width: auto;
	background-color: rgba(0,0,0,0);
	opacity: 0.75;
	margin-right: 4px;
}

/*Containers*/
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	animation: containerMove 1s;
}
@keyframes containerMove
{
	from {
		opacity: 0;
		margin-top: -24px;
	}
	to {
		opacity: 1;
		margin-top: 0px;
	}
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	padding-bottom: 35px;
	margin-top: -5px;
	margin-bottom: 0px;
}

/*Thumnail (Introduce an item)*/
.thumbnail {
	height: 200px;
	width: 18%;
	text-align: center;
	float: left;
	margin-top: 35px;
	background-color: #FDFDFD;
	padding-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 12px;
	padding-top: 10px;
	/*border-bottom: 3px solid #CCC;*/
	/*box-shadow: 0px 10px 30px rgba(0,0,0,0.1);*/
	box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 15px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
	transition: all 0.3s ease-out 0s;
	overflow: hidden;
}
.thumbnail:hover {
	/*box-shadow: 0px 10px 32.5px rgba(0,0,0,0.2);*/
	/*box-shadow: 0px 10px 48px rgba(0,0,0,0.2);*/
	box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 36px, rgba(0, 0, 0, 0.10) 0px 3px 18px;
	transform: translateY(-1px);
	background-color: #FEFEFE;
	/*border-bottom: 3px solid #0083ee;*/
}
.thumbnail hr {
	margin-top: 12px;
	margin-bottom: 0px;
	height: 2px;
	background-color: rgba(0,0,0,0.1);
	border: 0;
}
.thumbnail .text_column {
	width: 85%;
	text-align: left;
	line-height: 25px;
	float: left;
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: #333;
}
.thumbnail h4 {
	font-size: 20px;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #0083ee;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 50px;
}
.thumbnail h2 {
	font-weight: normal;
	margin-top: 49px;
	margin-bottom: 7px;
	color: #0083ee;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
.thumbnail p {
	margin: 0;
	color: #B3B3B3;
	text-align: left;
	padding-left: 20px;
}
.thumbnail img {
	margin-left: 10%;
	margin-top: 5px;
	margin-right: 10px;
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50px;
}
.comingsoon-thumbnail-img {
	filter: blur(4px);
	transition: 0.5s all ease;
}
.comingsoon-thumbnail-img:hover {
	filter: none;
}

/*Copyright (Show your information)*/
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #888;
	letter-spacing: 2px;
	font-size: 18px;
}

/*Self-adaptation*/
/*Mobile phone, 1 column*/
@media (max-width: 320px) {
header .navtag {
	display: none;
}
header .nownavtag {
	display: none;
}
header .menuBtn {
	display: inline-block;
}
.aboutTable {
	width: 100%;
}
.profileTable {
	display: none;
}
.thumbnail {
	width: 100%;
}
}
@media (min-width: 321px) and (max-width: 420px) {
	header .navtag {
		display: none;
	}
	header .nownavtag {
		display: none;
	}
	header .menuBtn {
		display: inline-block;
	}
}
/*1 column*/
@media (min-width: 321px) and (max-width: 687px) {
.aboutTable {
	width: 340px;
}
.profileTable {
	display: none;
}
.thumbnail {
	width: 100%;
	max-width: 400px;
	height: 150px;
}
}
/*2 columns*/
@media (min-width: 688px) and (max-width: 891px) {
.thumbnail {
	width: 48%;
}
}
/*3 columns*/
@media (min-width: 892px) and (max-width: 1096px) {
.thumbnail {
	width: 31%;
}
}
/*4 columns*/
@media (min-width: 1096px) and (max-width: 1300px) {
	.thumbnail {
		width: 23%;
	}
	}
/*Default 5 columns*/