@font-face {
	font-family: "Ubuntu";
	src: url("../../../fonts/Ubuntu/Ubuntu.woff");
}
body {
	cursor: default;
	font-family: "Ubuntu", "Micrsoft Yahei";
	-webkit-user-select: return false;
}
::selection {
	background-color: #00CDCD;
	color: white;
}
.title {
	padding-left: 8px;
	color: #00CDCD;
	font-size: 28px;
	line-height: 18px;
}
hr {
	border: 1px solid #00CDCD;
	box-shadow: 0px 3px 10px rgba(0,205,205,0.30);
	margin-bottom: 15px;
}
.classIndexSelect {
	cursor: pointer;
	height: 38px;
	outline: 0;
	border-radius: 10px;
	box-shadow: 0px 3px 10px rgba(0,205,205,0.30);
	border: 2px solid #00CDCD;
	padding: 6px 12px;
	color: #00CDCD;
	margin: -8px 6px 0px 6px;
	font-size: 17px;
	transition: all 0.2s linear;
}
.studentEndsWithTop {
	cursor: pointer;
	height: 38px;
	outline: 0;
	border-radius: 10px;
	box-shadow: 0px 3px 10px rgba(0,205,205,0.30);
	border: 2px solid #00CDCD;
	padding: 0px 12px;
	color: #00CDCD;
	margin: -8px 6px 0px 6px;
	font-size: 17px;
	transition: all 0.1s linear;
}
.navBtn {
	height: 38px;
	cursor: pointer;
	border-radius: 10px;
	float: right;
	margin: -8px 6px 0px 6px;
	font-size: 17px;
	color: #00CDCD;
	background-color: white;
	padding: 6px 12px;
	border: 2px solid #00CDCD;
	outline: 0;
	transition: all 0.1s linear;
	box-shadow: 0px 3px 10px rgba(0,205,205,0.30);
}
.navBtn:active {
	background-color: rgba(0,205,205,0.10);
	box-shadow: 0px 5px 25px rgba(0,205,205,0.30);
}
.student {
	margin: 5px 8px;
	border-radius: 10px;
	border: 2px solid #00CDCD;
	box-shadow: 0px 3px 10px rgba(0,205,205,0.30);
	height: 110px;
	width: 150px;
	width: calc(16.6% - 24px);
	min-width: 150px;
	display: inline-block;
	transition: all 0.1s linear;
}
.student .name {
	font-size: 18px;
	text-align: center;
	color: #555;
}
.student .likeAndUnlike {
	margin-top: -10px;
	text-align: center;
}
.student .likeBtn {
	cursor: pointer;
	border-radius: 10px;
	font-size: 17px;
	color: #00CDCD;
	background-color: white;
	padding: 8px 12px;
	border: 2px solid #00CDCD;
	outline: 0;
	transition: all 0.1s linear;
	box-shadow: 0px 3px 10px rgba(0,205,205,0.30);
}
.student .likeBtn:active {
	background-color: rgba(0,205,205,0.10);
	box-shadow: 0px 5px 20px rgba(0,205,205,0.30);
}
.student .unlikeBtn {
	cursor: pointer;
	border-radius: 10px;
	font-size: 17px;
	color: #00CDCD;
	background-color: white;
	padding: 8px 12px;
	border: 2px solid #00CDCD;
	outline: 0;
	transition: all 0.1s linear;
	box-shadow: 0px 3px 10px rgba(0,205,205,0.30);
}
.student .unlikeBtn:active {
	background-color: rgba(0,205,205,0.10);
	box-shadow: 0px 5px 20px rgba(0,205,205,0.30);
}
.student .likeCount {
	font-size: 20px;
	margin-left: 8px;
	margin-right: 8px;
}
#container {
	width: 100%;
}
#studentContainer {
	overflow-x: auto;
	float: left;
	width: calc(100% - 135px);
	white-space: nowrap;
	margin-top: -30px;
}
#topListContainer {
	border-radius: 10px;
	border: 2px solid #00CDCD;
	box-shadow: 0px 3px 10px rgba(0,205,205,0.30);
	float: right;
	position: absolute;
	top: 100px;
	left: calc(100% - 135px);
	width: 125px;
}
#topList {
	margin-left: 15px;
	color: #333;
	line-height: 25px;
}